/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/* All of your setup and non media query CSS */

@font-face {
  font-family: 'JudsonItalic';
  src: url(../fonts/Judson-Italic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'JudsonBold';
  src: url(../fonts/Judson-Bold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'RalewayRegular';
  src: url(../fonts/Raleway-Regular.ttf) format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'RalewayItalic';
  src: url(../fonts/Raleway-Italic.ttf) format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'RalewaySemiBold';
  src: url(../fonts/Raleway-SemiBold.ttf) format('truetype');
    font-display: swap;
}

@font-face {
  font-family: 'RalewaySemiBoldItalic';
  src: url(../fonts/Raleway-SemiBoldItalic.ttf) format('truetype');
    font-display: swap;
}

html {
    font: normal 100% 'RalewayRegular', sans-serif;
    height: auto;
}

body {
    line-height: 1.625; /* 26px */
    height: auto;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(85, 4, 44, 1), #95074D 100%);
}

#container {
    width: 80%;
    margin: 0 10%;
    position: relative;
    background-color: transparent;
    -moz-box-shadow:    0px 1px 8px -1px #000000;
    -webkit-box-shadow: 0px 1px 8px -1px #000000;
    box-shadow:         0px 1px 8px -1px #000000;
}

.purple_italic {
    font-family: 'RalewayItalic', sans-serif;
    color: #59297F;
}

h1, h2, h3 {
    font-family: 'JudsonItalic', serif;
    color: #fff;
    text-align: center;
}

img {
    max-width: 100%;
}

.judsonbold {
    font-family: 'JudsonBold', serif;
    font-size: 3vw;
}

.ralewaysemi {
    font-family: 'RalewaySemiBold', sans-serif;
}

.ralewayitalic {
    font-family: 'RalewayItalic', sans-serif;
}

.ralewaysemiitalic {
    font-family: 'RalewaySemiBoldItalic', sans-serif;
}

.right {
    text-align: right;
}

.maroon {
    color: #8C0750;
}

.purple {
    color: #59297F;
}

header,
#navigation,
#navigation ul,
#navigation ul li,
.block,
.block-middle,
footer,
footer div {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

/* Header */

header {
    flex-flow: column;
    width: 100%;
    margin: 0;
    padding: 1em 0;
    position: relative;
    background-image: url(../images/tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 5.5vw;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.2);
}


.title a:link {color: #fff; text-decoration: none;}
.title a:visited {color: #fff;}
.title a:hover {color: #fff;}
.title a:active {color: #fff;}

.description {
    font-size: 1.75vw;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.2);
}

.tagline {
    font-size: 2.5vw;
    margin: .5em 0 1em;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                 0px 8px 13px rgba(0,0,0,0.2),
                 0px 18px 23px rgba(0,0,0,0.2);
}

header img {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    width: 22%;
}

/* Navigation */

#navigation {
    width:  100%;
    padding: 2em 0;
    margin-bottom: 2em;
    flex-flow: column;
} 

#navigation ul {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    list-style-type: none;
    flex-grow: 1;
}

#navigation ul li {
    text-align: center;
    flex-grow: 1;
    align-items: center;
    font-family: 'RalewaySemiBold', sans-serif;
    font-size: 1.25vw;
    text-transform: uppercase;
}

#navigation ul li a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
    width: 100%;
    color: #000;
}


/* Effect 1: Brackets */
#navigation ul li a::before,
#navigation ul li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

#navigation ul li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

#navigation ul li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

#navigation ul li a:hover,
#navigation ul li a:focus {
    color: #59297F;
    
}

#navigation ul li a:hover::before,
#navigation ul li a:hover::after,
#navigation ul li a:focus::before,
#navigation ul li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
    color: #59297F;
}

/* Menu */

.menu-toggle,
.main-menu .menu-close {
    display: none;
  }
  
.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
} 
  
.main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
  }
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
}

/* Main */

.content {
    padding-bottom: 4em;
}

main {
    width: 100%;
    margin: 0;
    position: relative; 
    background-color: #FFFFFF;
}

.block {
    width: 98%;
    margin: 0 1%;
    padding-bottom: 4em;
    flex-direction: row-reverse;
}

.block-middle {
    width: 98%;
    margin: 0 1%;
    padding-bottom: 4em;
    flex-direction: row;
}

.content_image {
    width: 40%;
    align-self: center;
    flex-shrink: 0;
}

.img-right {
    margin: 0 .5em;
}

.img-left {
    margin: 0 .5em;
}

main p {
    font-size: 1.35vw;
    width: 95%;
    margin: 0 auto 1em;
}

a.text-link:link {color: #000; } 
a.text-link:visited {color: #000; }  
a.text-link:hover {color: #59297F; }  
a.text-link:active {color: #000; }  

#contact_popup {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 20%;
    margin: 1% 1% 2%;
    font-size: 1.8vw;
}

/* Resources */

#resources ul {
    font-size: 1.35vw;
    width: 80%;
    margin: 0 10% 2em;
}

#resources ul.last {
    margin: 0 10%;
}

#resources ul li {
    list-style-type: none;
    padding: 1em 0;
}

/* Testimonials */

.indent {
    text-align: right;
    margin-bottom: 4em;
}

.indent-last {
    text-align: right;
}

/* Button Styles */

.button {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Contact Button & Submit Button */

.button_contact {
    background: #95074D;
	color: #F9F9F9;
    border: .2em solid #8C0750;
    width: 100%;
    margin-top: 5%;
    padding: 1em;
    border-radius: 1.5em;
    box-shadow: 0 .3em #55042C;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.button_contact:active {
	box-shadow: 0 0 #5F0530;
	top: .5em;
}

.button_contact:hover {
	box-shadow: 0 .2em #5F0530;
	top: .1em;
}

.button_submit {
	background: #95074D;
	color: #F9F9F9;
    border: .2em solid #8C0750;
    border-radius: 1.5em;
    font-size: .5em;
	box-shadow: 0 .3em #55042C;
	-webkit-transition: none;
	-moz-transition: none;
	transition: none;
}

.button_submit:active {
	box-shadow: 0 0 #5F0530;
	top: .5em;
}

.button_submit:hover {
	box-shadow: 0 .2em #5F0530;
	top: .1em;
}


/* Contact Popup */

/* Popup Events */
.popup_content {
	pointer-events: none;
    font-size: 2.3vw;
}

.popup_button.open .popup_content {
	pointer-events: auto;
}

/* Popup Button and Modal Styles */

.popup_button_fixed .popup_content {
	width: 11.2em;
	height: 3.5em;
}

p.close {
    font-size: 1.35vw;
    text-align: right;
    margin-top: 3%;
    padding: 0 10% 0 0;
    cursor: pointer;
}

.popup_content label {
    font-size: 60%;
    width: 90%;
    margin: 1em 5% 0 5%;
    display: block;
    line-height: 1em;
}

.popup_content input {
    width: 88%;
    margin: 0 5%;
    line-height: 1.5em;
    font-size: 60%;
}

.popup_content input.button_submit {
    width: 30%;
    margin: 0 35% 4% 35%;
    padding: 2% 0;
}

input[type=text], input[type=tel], input[type=email], input[type=number], textarea {
    font-family: 'RalewayRegular', sans-serif;
    border-style: solid;
    border-width: .08em;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
    outline: none !important;
    border: .08em solid #8C0750;
    box-shadow: none;
}

.popup_content textarea {
    width: 89%;
    margin: -9% 5% 0 5%;
    min-height: 9em;  
    font-size: 60%;
}

/* Popup Modal Styles */

.popup_button_modal::before {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 800;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	pointer-events: none;
}

.popup_button_modal.open::before {
	opacity: 1;
	pointer-events: auto;
}

.popup_button_modal.active::before {
	z-index: 1800;
}

.popup_button_modal .popup_content {
	overflow: hidden;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.popup_button_modal.open .popup_content {
	top: 50% !important;
	left: 50% !important;
	margin: -9em 0 0 -7em;
	width: 15em;
	height: auto;
	-webkit-transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

.popup_button_modal3 .popup_content {
    background-color: #fff;
    color: #000;
    border-radius: 1em;
}

.popup_button_modal3.open .popup_content {
	margin: -10em 0 0 -7.5em;
    padding: 0;
	width: 15em;
	height: auto;
}

.popup_button_modal3.open .popup_content > div {
	height: auto;
}

.popup_button_modal_3.open .popup_content > div {
 	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

/* Hides button during Popup */
.popup_button_fixed.open > button {
    visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
	transition: opacity 0.1s;
}

/* Position of Popup */
.popup_button_fixed .popup_content {
	position: fixed;
	z-index: 900;
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
	transition: opacity 0.3s 0.5s, width 0.4s 0.1s, height 0.4s 0.1s, top 0.4s 0.1s, left 0.4s 0.1s, margin 0.4s 0.1s;
}

/* Shows popup on open */
.popup_button_fixed.open .popup_content {
	opacity: 1;
}

/* Hides content on close */
.popup_button_fixed .popup_content > div {
	visibility: hidden;
	height: 0;
	opacity: 0;
	-webkit-transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
	transition: opacity 0.1s, visibility 0s 0.1s, height 0s 0.1s;
}

/* Shows content on popup */
.popup_button_fixed.open .popup_content > div {
	visibility: visible;
	height: auto;
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.popup_button_fixed.active > button {
	z-index: 2000;
}

.popup_button_fixed.active .popup_content {
	z-index: 1900;
}

/* Let's add some nice easing for all cases */
.popup_button .popup_content,
.popup_button.open .popup_content {
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Helper classes */
.noscroll {
	overflow: hidden;
}

.no-transition {
	-webkit-transition: none !important;
	transition: none !important;
}


/* Footer */ 
    
footer {
    width: 100%;
    padding: 4em 0;
    background: linear-gradient(0deg, rgba(119, 183, 149, 1), white 100%);
    overflow: hidden;
    flex-flow: row;
    flex-wrap: wrap;
}

footer .social {
    width: 100%; 
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

footer .social p {
    font-size: 1.25vw;
    width: 100%;
    margin: 0;
    padding: 0;
}

footer .social img {
    width: 15%;
    padding: 0 5%;
}


/**** Mobile First Media Queries ****/


/*** Up to 1040px 125% ***/
@media only screen and (max-width: 65em) {

    /* Header */
    
    .judsonbold {
        font-size: 3.5vw;
    }
    
    .title {
        font-size: 6.5vw;
    }

    .description {
        font-size: 2.5vw;
    }

    .tagline {
        font-size: 3.25vw;
    }
    
    #navigation ul li {
        font-size: 1.55vw;
    }
    
    /* Popup Form */
    
    .popup_content {
        font-size: 3.25vw;
    }
    
    p.close {
        font-size: 2.5vw;
    }
    
    /* Main */

    main p {
        font-size: 1.65vw;
    }

    /* Resources */

    #resources ul {
        font-size: 1.65vw;
    }
    
    /* Footer */

    footer .social p {
        font-size: 1.55vw;
    }
    
}


/************ Change Format ************/


/*** Up to 800px 175% ***/
@media only screen and (max-width: 50em) {
    
    .site {
        background: none;
    }
    
    #container {
        width: 100%;
        margin: 0 auto;
    }
    
    /* Navigation */

    #navigation ul {
        width: 90%;
        padding: 0 5%;
    }

    #navigation ul li {
        padding: 0 2% 0 0;
        font-size: .9em;
        white-space: nowrap;
        overflow: hidden;
    }

    .menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        margin: 0 2% 0 0;
        padding: 1% 1% 0;
        line-height: 1em;
        font-size: 4em;
        color: #FFF;
        text-decoration: none;
        text-shadow: 0px 4px 3px rgba(0,0,0,0.7),
                     0px 8px 13px rgba(0,0,0,0.2),
                     0px 18px 23px rgba(0,0,0,0.2);
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #95074D;
    }  

    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100% !important;
        height: 10vh;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 10;
        background-color: #fff;
    }

    .main-menu ul {
        display: block;
        min-height: 50%;
        width: 100%;
        background: transparent;
    }

    .main-menu a {
        display: block;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        color: #FFF;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: underline;
        color: #FFF;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 6em;
        line-height: .35em;
        padding: 0 .25em 0 0;
        color: #95074D; 
        text-decoration: none;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 12;
    }

    .main-menu:target ul {
        position: relative;
        z-index: 11;
    }

    .main-menu:target + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      cursor: default;
    }
    
    /* Header */
    
    .judsonbold {
        font-size: 5vw;
    }
    
    .width-800 {
        width: 90%;
        margin: 0 5%;
    }
    
    header {
        padding: 0 0 1em;
    }
    
    .title {
        font-size: 8vw;
    }

    .description {
        font-size: 3.25vw;
    }

    .tagline {
        font-size: 4vw;
    }
    
    /* Button */
    
    #contact_popup {
        font-size: 2.25vw;
    }
    
    /* Popup Form */
    
    .popup_content {
        font-size: 5vw;
    }
    
    p.close {
        font-size: 4vw;
    }
    
    /* Main */
    
    main {
        position: static;
        margin-top: 2em;
    }

    main p {
        font-size: 3vw;
    }
    
    .content {
        width: 94%;
        margin: 0 3%;
        padding-bottom: 4em;

    }
    
    .block, .block-middle {
        width: 94%;
        margin: 0 3%;
        display: block;
    }

    .content_image {
        width: 35%;
    }

    .img-right, .img-left {
        float: right;
        margin: 1em 1em .5em 1.5em;
    }

    .right {
        text-align: left;
    }

    /* Resources */

    #resources ul {
        font-size: 3vw;
    }
    
    /* Footer */

    footer .social p {
        font-size: 2.5vw;
    }
    
    footer .social img {
        width: 20%;
    }

}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {

    /* Navigation */
    
    #navigation ul {
        flex-flow: row;
        flex-wrap: wrap;
        max-height: 60%;
    }

    #navigation ul li {
        flex: 0 0 100%;
        font-size: 5vw;
        margin: 0;
        padding: 0;
        text-align: left;
        
    }
    
    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 80% !important;
        height: 100vh;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 10;
        background-color: #fff;
    }
    
    .main-menu ul {
        max-height: 60%;
    }
    
    /* Header */
    
    .judsonbold {
        font-size: 9.3vw;
    }
    
    header {
        padding: 5em 0 5em;
    }
    
    .title {
        font-size: 14vw;
    }

    .description {
        font-size: 5.5vw;
    }

    .tagline {
        font-size: 7vw;
    }
    
    header img {
        position: absolute;
        top: 0;
        left: 0;
        width: 25%;
    }
    
    /* Button */
    
    #contact_popup {
        position: absolute;
        right: 26%;
        bottom: 3%;
        width: 46%;
        font-size: 5vw;
    }
    
    /* Popup Form */
    
    .popup_content {
        font-size: 6vw;
    }
    
    p.close {
        font-size: 5vw;
    }
    
    /* Main */
    
    main {
        margin-top: 1em;
    }

    main p {
        font-size: 5.5vw;
    }

    .content_image {
        width: 35%;
    }
    
    .block, .block-middle {
        padding-bottom: 2em;
    }
    
    .right {
        text-align: left;
    }

    .img-right, .img-left {
        float: none;
        width: 94%;
        margin: 1em 3%;
    }

    /* Resources */

    #resources ul {
        font-size: 5.5vw;
    }
    
    /* Footer */
    
    footer {
        padding: 0;
    }
    
    footer .social {
        flex-flow: row;
        flex-wrap: wrap;
        
    }
    
     .social p:nth-of-type(2) {
        order: -1;
    }

    footer .social p {
        font-size: 5vw;
        margin: 2em 0;
    }
    
}